
// Basic color definitions.
@white: rgb(215,215,215);
@blue: rgb(60, 190, 255);
@green: rgb(160, 235, 100);
@yellow: rgb(255, 190, 50);
@red: rgb(235, 80, 60);
@pink: rgb(225, 100, 205);
@special: rgb(255, 200, 100);

// Styling for the Gutter.
@gutter-text: rgb(70, 70, 70);
@gutter-text-highlight: #f3aa15;
@gutter-background: darken(#0c0c0c, 1%);
@gutter-background-highlight: #0c0c0c;

// Main code view.
@code-background: darken(#0c0c0c, 2%);
@code-font: Source Code Pro;
@code-font-color: @white;

// Primary syntax coloring.
@comment: rgb(70,70,70);
@comment-bg: none;
@comment-punc: @comment;
@string: @special;
@constant: @blue;
@variable: @white;
@support: @pink;
@function: @pink;
@entity: @red;
@keyword: @green;
@storage: @green;
@meta: @code-font-color;
@function-param: @blue;
@operator: @yellow;
@object: @special;

@error: @red;

@regex: @string;

@numeric: @blue;
@quotes: @code-font-color;

@markup: @code-font-color;
@unknown: @code-font-color;

// Additional colors.
@invisible: rgba(255,255,255,0.1);
@guides: rgba(255,255,255,0.04);
@cursor-color: @special;
@cursor-width: 2px;
@selected: rgba(85,85,85,0.6); // selected background color
@selected-border: rgba(90,90,90,0.9);
@selected-line: rgba(0,0,0,0.2);

// HTML tag coloring.
@tag: @blue;
@tag-entity: @blue;
@element-attr: @yellow;
@class: @green;
@id: @green;
@block: @blue;
@inline: lighten(@blue, 25%);

@entity-function: @blue;
@brackets: darken(@code-font-color, 30%);
@punctuation: darken(@code-font-color, 30%);

@search-bg: transparent;
@search-border: solid 1px @blue;

@search-active-bg: @blue;
@search-active-border: solid 1px @blue;

@search-item-border: @blue;
@search-item-bg: @red;
